@model LocamerMsySite.Models.Sejour

@{
    ViewBag.Title = "Details";
}

<h2>Details sur le Séjour</h2>

<div>
    <h4>Sejour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_sejour.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_sejour.libelle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retourner à la liste", "Index")
</p>
