@model IEnumerable<LocamerMsySite.Models.Sejour>

@{
    ViewBag.Title = "Index";
}
<h1>Application de Gestion Locamer</h1>
<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau Séjour", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_sejour.libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emplacement.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_sejour.libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emplacement.Count)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
